<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  			<typeAlias type="com.im.home.wholesale.WholeSaleVO" alias="WholeSaleVO"/>
  			<typeAlias type="com.im.home.members.MembersVO" alias="MembersVO"/>
  			<typeAlias type="com.im.home.members.RoleVO" alias="RoleVO"/>

  			<typeAlias type="com.im.home.util.Pager" alias="Pager"/>

  			<typeAlias type="com.im.home.members.MembersFileVO" alias="MembersFileVO"/>
  			<typeAlias type="com.im.home.admin.AdminMembersVO" alias="AdminMembersVO"/>
  			<typeAlias type="com.im.home.admin.MembersReportVO" alias="MembersReportVO"/>
  			<typeAlias type="com.im.home.admin.InquiryResponseVO" alias="InquiryResponseVO"/>
  			<typeAlias type="com.im.home.admin.ReportFileVO" alias="ReportFileVO"/>
  			<typeAlias type="com.im.home.util.AdminPager" alias="AdminPager"/>

  			<!-- 경매 -->
  			<typeAlias type="com.im.home.aution.AuctionVO" alias="AuctionVO"/>

  			
  			<typeAlias type="java.lang.Long" alias="Long" />
  			<typeAlias type="java.util.List" alias="List"/>
  			<typeAlias type="java.lang.String" alias="String"/>
  			<typeAlias type="java.lang.Integer" alias="Integer"/>
  			
  			
  			<!-- 지도 -->
  			<typeAlias type="com.im.home.map.MapVO" alias="MapVO"/>
  			<typeAlias type="com.im.home.map.StartPointVO" alias="StartPointVO"/>
  			<typeAlias type="com.im.home.map.EndPointVO" alias="EndPointVO"/>
  			
  			
  	</typeAliases>
  </configuration>