<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  			<typeAlias type="com.im.home.members.MembersVO" alias="MembersVO"/>
  			<typeAlias type="com.im.home.members.RoleVO" alias="RoleVO"/>
  			<typeAlias type="com.im.home.members.MembersFileVO" alias="MembersFileVO"/>
  			

  			
  			<typeAlias type="com.im.home.admin.AdminMembersVO" alias="AdminMembersVO"/>
  			<typeAlias type="com.im.home.admin.report.MembersReportVO" alias="MembersReportVO"/>
  			<typeAlias type="com.im.home.adminInquiryResponse.InquiryResponseVO" alias="InquiryResponseVO"/>
  			<typeAlias type="com.im.home.util.AdminPager" alias="AdminPager"/>

  			<!-- 경매 -->
  			<typeAlias type="com.im.home.aution.AuctionVO" alias="AuctionVO"/>

  			
  			<typeAlias type="java.lang.Long" alias="Long" />
  			<typeAlias type="java.util.List" alias="List"/>
  			<typeAlias type="java.lang.String" alias="String"/>
  			<typeAlias type="java.lang.Integer" alias="Integer"/>
  		
  	</typeAliases>
  </configuration>