<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
          PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
          
 <mapper namespace="com.im.home.admin.AdminMembersMapper">
 
	 	<sql id="search">
			WHERE
			<choose>
				<otherwise>NICKNAME</otherwise>
			</choose>
			LIKE concat ('%', #{search}, '%')
		</sql>
		<sql id="reportSearch">
			<choose>
				<when test="kind == 'report_id'">RP.REPORT_ID</when>
				<otherwise>M.ID</otherwise>
			</choose>
				LIKE concat ('%', #{reportSearch}, '%')
		</sql>
		<sql id="inquirySearch">
			WHERE
			<choose>
				<otherwise>M.ID</otherwise>
			</choose>
			LIKE concat ('%', #{inquirySearch}, '%')
		</sql>
		<sql id="productSearch">
			WHERE
			<choose>
				<otherwise>PRODUCT_NUM</otherwise>
			</choose>
			LIKE concat ('%', #{productSearch}, '%')
		</sql>
		<sql id="saleSearch">
			<choose>
				<otherwise>P.ID</otherwise>
			</choose>
			LIKE concat ('%', #{saleSearch}, '%')
		</sql>
		
<!-- memberList -->
	<!-- memberList -->
	 	<select id="getAdminMembersList" parameterType="AdminPager" resultMap="getAdminMembersListResult">
			 SELECT M.*,R.* FROM
	         MEMBERS M
	         INNER JOIN
	         MEMBERS_ROLE MR
	         ON M.ID = MR.ID
	         INNER JOIN
	         ROLE R
	         ON MR.ROLENUM = R.ROLENUM
			 <include refid="search"/>
			 LIMIT #{startRow}, #{perPage}
	 	</select>
		<!-- 회원 조회 페이징 카운트-->
		<select id="getAdminMembersCount" resultType="Long" parameterType="AdminPager">
			 SELECT COUNT(*) FROM MEMBERS
			 WHERE NICKNAME LIKE concat ('%', #{search}, '%')
		</select>
		<!-- 총 회원 수 -->
		<select id="getTotalMembers" parameterType="MembersVO" resultType="Integer">
			SELECT COUNT(M.ID) FROM
	         MEMBERS M
	         INNER JOIN
	         MEMBERS_ROLE MR
	         ON M.ID = MR.ID
	         INNER JOIN
	         ROLE R
	         ON MR.ROLENUM = R.ROLENUM
		</select>
		
<!-- 판매 내역 -->
		<!-- 판매 내역 List -->
		<select id="getSaleList" parameterType="AdminPager" resultMap="productSaleResult">
			SELECT * FROM 
			PRODUCT P
			LEFT JOIN
			DELIVERY_STATE DS
			ON P.STATENUM = DS.STATENUM
			INNER JOIN 
			AUCTION A 
			ON P.PRODUCT_NUM = A.PRODUCT_NUM
			WHERE P.STATENUM = 1 or P.STATENUM = 2 or P.STATENUM = 3 or P.STATENUM = 4 AND
			<include refid="saleSearch"/> 
			ORDER BY P.PRODUCT_NUM DESC
			LIMIT #{startRow}, #{perPage}
		</select>
		<!-- 판매 내역 count -->
		<select id="getSaleCount" parameterType="AdminPager" resultType="Long">
			SELECT count(*) FROM 
			PRODUCT P
			LEFT JOIN
			DELIVERY_STATE DS
			ON P.STATENUM = DS.STATENUM
			INNER JOIN 
			AUCTION A 
			ON P.PRODUCT_NUM = A.PRODUCT_NUM
			WHERE P.STATENUM = 1 or P.STATENUM = 2 or P.STATENUM = 3 or P.STATENUM = 4
		</select>
		<!-- 판매 내역 detail -->
		<select id="getSaleDetail" parameterType="ProductVO" resultMap="productSaleResult">
			SELECT * FROM 
			PRODUCT P
			LEFT JOIN
			DELIVERY_STATE DS
			ON P.STATENUM = DS.STATENUM
			INNER JOIN 
			AUCTION A 
			ON P.PRODUCT_NUM = A.PRODUCT_NUM
			LEFT JOIN 
			PRODUCT_FILE PF
			ON P.PRODUCT_NUM = PF.PRODUCT_NUM
			WHERE P.PRODUCT_NUM = #{product_num}
		</select>
	
<!-- 상품 관리-->
		<!-- 상품 등록 -->
		<insert id="setProductAdd" parameterType="ProductVO" useGeneratedKeys="true" keyProperty="product_num">
			INSERT INTO PRODUCT VALUES
			(NULL, #{grade_num}, #{name}, #{product_address}, #{quantity}, #{weight}, 1, NULL, 5)
		</insert>
		<insert id="setProductFileAdd" parameterType="ProductFileVO">
			INSERT INTO PRODUCT_FILE VALUES
			(NULL, #{product_num}, #{fileName}, #{oriName})
		</insert>
		<!-- 상품 리스트 -->
		<select id="getProductList" parameterType="AdminPager" resultMap="productResult">
			SELECT *
			FROM 
			PRODUCT P
			LEFT JOIN
			PRODUCT_GRADE PG
			ON P.GRADE_NUM = PG.GRADE_NUM
			LEFT JOIN 
			DELIVERY_STATE DS
			ON P.STATENUM = DS.STATENUM
			<include refid="productSearch"/>
			ORDER BY PRODUCT_NUM DESC 
			LIMIT #{startRow}, #{perPage}
		</select>
			<!-- 상품 수 -->
			<select id="getProductCount" parameterType="AdminPager" resultType="Long">
				SELECT COUNT(PRODUCT_NUM) FROM PRODUCT
			</select>
		<!-- 상품 detail  -->
		<select id="getProductDetail" parameterType="ProductVO" resultMap="productResult">
			  SELECT * FROM 
			  PRODUCT P
			  LEFT JOIN
			  PRODUCT_GRADE PG 
			  ON P.GRADE_NUM = PG.GRADE_NUM
			  LEFT JOIN
			  PRODUCT_FILE PF 
			  ON P.PRODUCT_NUM = PF.PRODUCT_NUM
			  LEFT JOIN 
			  DELIVERY_STATE DS
			  ON P.STATENUM = DS.STATENUM
			  WHERE P.PRODUCT_NUM = #{product_num}
		</select>
		<!-- 상품 보류, 판매, 매진-->
		<update id="setProductHold" parameterType="ProductVO">
			UPDATE PRODUCT SET SALES = #{sales} WHERE PRODUCT_NUM = #{product_num}
		</update>
		<!-- 상품 등급 수정 -->
		<update id="setProductGrade" parameterType="ProductVO">
			UPDATE PRODUCT SET GRADE_NUM = #{grade_num} WHERE PRODUCT_NUM = #{product_num}
		</update>
		<!-- 베송 상태 수정 -->
		<update id="setDeliveryStateUpdate" parameterType="ProductVO">
			UPDATE PRODUCT SET STATENUM = #{stateNum} WHERE PRODUCT_NUM = #{product_num}
		</update>
		<!-- 상품 도착 -->
		<update id="setDeliverySuccess" parameterType="ProductVO">
			UPDATE PRODUCT SET STATENUM = #{stateNum} WHERE PRODUCT_NUM = #{product_num}
		</update>
		<!-- 배송 현황 -->
		<select id="getDeliverySelect" parameterType="ProductVO" resultMap="deliveryResult">
			SELECT * FROM 
			PRODUCT P
			INNER JOIN
			DELIVERY_STATE DS 
			ON P.STATENUM = DS.STATENUM
			INNER JOIN
			MEMBERS M 
			ON P.ID = M.ID
			WHERE P.PRODUCT_NUM = #{product_num}
		</select>
		
<!-- 경매시작 -->
		<!-- 경매 등록 -->
		<insert id="setAuctionAdd" parameterType="AuctionVO" useGeneratedKeys="true" keyProperty="auction_num">
			INSERT INTO AUCTION VALUES
			(NULL, #{title}, #{init_price}, #{head_count}, SYSDATE(), 0, 0, #{id}, #{product_num}, 1)
		</insert>
		
		
<!-- 공지사항 관리 -->
		<!-- 등록 -->
		<insert id="setCompanyNotice" parameterType="CompanyNoticeVO">
		 	INSERT INTO COMPANY_NOTICE VALUES
		 	(NULL, #{notice_title}, #{notice_contents}, 0, SYSDATE(), #{id})
		</insert>
		<!-- 리스트 -->
		<select id="getCompanyNoticeList" parameterType="AdminPager" resultType="CompanyNoticeVO">
			SELECT * FROM COMPANY_NOTICE
			ORDER BY NOTICE_NUM DESC
			LIMIT #{startRow}, #{perPage}
		</select>
			<!-- 공지사항 카운트 -->
			<select id="getNoticeCount" parameterType="AdminPager" resultType="Long">
				SELECT COUNT(NOTICE_NUM) FROM COMPANY_NOTICE
			</select>
		<!-- detail -->
		<select id="getNoticeDetail" parameterType="CompanyNoticeVO" resultMap="noticeMemberReuslt">
			SELECT M.*,R.*, CN.* FROM
			MEMBERS M
			INNER JOIN
			MEMBERS_ROLE MR
			ON M.ID = MR.ID
			INNER JOIN
			ROLE R
			ON MR.ROLENUM = R.ROLENUM
			RIGHT  JOIN 
			COMPANY_NOTICE CN 
			ON CN.ID = M.ID
			WHERE CN.NOTICE_NUM= #{notice_num}
		</select>
		<!-- 수정 -->
		<update id="setNoticeUpdate" parameterType="CompanyNoticeVO">
			UPDATE COMPANY_NOTICE SET NOTICE_TITLE = #{notice_title}, NOTICE_CONTENTS =#{notice_contents} WHERE NOTICE_NUM = #{notice_num} 
		</update>
		<!-- 삭제 -->	
		<delete id="setNoticeDelete" parameterType="CompanyNoticeVO">
			DELETE FROM COMPANY_NOTICE WHERE NOTICE_NUM = #{notice_num}
		</delete>
		<!-- 공지사항 조회수 -->
		<update id="setHit" parameterType="CompanyNoticeVO">
			  UPDATE COMPANY_NOTICE SET NOTICE_HIT = NOTICE_HIT +1 WHERE NOTICE_NUM=#{notice_num}
		</update>
				
<!-- 1대1 문의 -->	 	
		<!-- 1대1문의 리스트 -->
 		<select id="getInquiryList"  parameterType="AdminPager" resultMap="getInquiryDetailResult">
 			 SELECT M.*,R.*, IQ.INQUIRY_NUM, IQ.ID, IQ.INQUIRY_CONTENTS, IQ.INQUIRY_DATE, IQ.INQUIRY_RESPONSE, IQ.INQUIRY_TEXT , IR.INQUIRY_RESPONSE_NUM, IR.INQUIRY_RESPONSE_CONTENTS, IR.INQUIRY_RESPONSE_DATE  FROM
	         MEMBERS M
	         INNER JOIN
	         MEMBERS_ROLE MR
	         ON M.ID = MR.ID
	         INNER JOIN
	         ROLE R
	         ON MR.ROLENUM = R.ROLENUM
	         INNER JOIN
	         INQUIRY IQ
	         ON M.ID = IQ.ID
	         LEFT  JOIN
	         INQUIRY_RESPONSE IR
	         ON IQ.INQUIRY_NUM = IR.INQUIRY_NUM 
	         <include refid="inquirySearch"/>
 	         ORDER BY INQUIRY_NUM DESC 
			 LIMIT #{startRow}, #{perPage}
 		</select>
		<!-- 응답하지 않은 1대1문의 List -->
		<select id="getInquiryNoResponseList" parameterType="AdminPager" resultMap="getInquiryDetailResult">
			 SELECT M.*,R.*, IQ.* FROM
	         MEMBERS M
	         INNER JOIN
	         MEMBERS_ROLE MR
	         ON M.ID = MR.ID
	         INNER JOIN
	         ROLE R
	         ON MR.ROLENUM = R.ROLENUM
	         INNER JOIN
	         INQUIRY IQ
	         ON M.ID = IQ.ID
	         LEFT JOIN
	 		 INQUIRY_RESPONSE IR
			 ON IQ.INQUIRY_NUM = IR.INQUIRY_NUM 
	         WHERE INQUIRY_RESPONSE_CONTENTS IS NULL
	         ORDER BY INQUIRY_NUM DESC
	         LIMIT #{startRow}, #{perPage}
		</select>
 		<!-- 관라자 메인 페이지에 보이는 최신 1대1문의 5개리스트 --> 
 		<select id="getAdminPageInquiryList" parameterType="AdminMembersVO" resultMap="getInquiryDetailResult">
 			 SELECT M.*,R.*, IQ.* FROM
	         MEMBERS M
	         INNER JOIN
	         MEMBERS_ROLE MR
	         ON M.ID = MR.ID
	         INNER JOIN
	         ROLE R
	         ON MR.ROLENUM = R.ROLENUM
	         INNER JOIN
	         INQUIRY IQ
	         ON M.ID = IQ.ID
	         LEFT JOIN
	         INQUIRY_RESPONSE IR
	         ON IQ.INQUIRY_NUM = IR.INQUIRY_NUM 
		  	 WHERE INQUIRY_RESPONSE_CONTENTS IS NULL
	         ORDER BY INQUIRY_NUM DESC
 			 LIMIT 0, 5
 			 
 		</select>
 		 <!-- 1대1문의 -->
		 <insert id="setInquiryRequest" parameterType="AdminMembersVO">
		 	INSERT INTO INQUIRY VALUES
		 	(NULL, #{id}, #{inquiry_contents}, SYSDATE(), 1, #{inquiry_text})
		 </insert>
		<!-- 1대1문의 응답  -->
		<insert id="setInquiryResponse" useGeneratedKeys="true" keyProperty="inquiry_num" parameterType="InquiryResponseVO">
			INSERT INTO INQUIRY_RESPONSE VALUES
			(NULL, #{inquiry_num}, #{inquiry_response_contents}, SYSDATE())
		</insert>
		<!-- 회원 detail페이지  -->
		<select id="getAdminMembersDetail" resultMap="getInquiryDetailResult" parameterType="AdminMembersVO">
			SELECT M.*, MF.*, R.*FROM
			MEMBERS M
			LEFT JOIN
			MEMBERS_FILE MF 
			ON M.ID = MF.ID
			INNER JOIN
			MEMBERS_ROLE MR
			ON M.ID = MR.ID
			INNER JOIN
			ROLE R
			ON MR.ROLENUM = R.ROLENUM
			WHERE M.ID = #{id}
	 	</select> 
 		<!-- 1대1문의 detail페이지 -->
 		<select id="getInquiryDetail" parameterType="AdminMembersVO" resultMap="getInquiryDetailResult">
	 		SELECT M.ID,M.EMAIL,M.PHONE,M.JOINDATE, IQ.*, IR.*
			FROM MEMBERS M
			INNER JOIN
			INQUIRY IQ
			ON M.ID = IQ.ID
			LEFT JOIN
			INQUIRY_RESPONSE IR 
			ON IQ.INQUIRY_NUM = IR.INQUIRY_NUM 
			WHERE M.ID = #{id} AND IQ.INQUIRY_NUM = #{inquiry_num}
 		</select>
		<!-- 총 1대1문의 -->
		<select id="getTotalInquiry" resultType="Integer" parameterType="AdminMembersVO">
			SELECT COUNT(INQUIRY_NUM) FROM INQUIRY
		</select>
				<!-- 1대1문의 페이징 카운트 -->
		<select id="getInquiryRequestCount" resultType="Long" parameterType="AdminPager">
			SELECT COUNT(INQUIRY_NUM) FROM INQUIRY
		</select>
		<!-- 대기중인 1대1문의 페이징 카운트 -->
		<select id="getNoInquiryResponseCount" resultType="Long" parameterType="AdminPager">
			SELECT COUNT(*) FROM
			INQUIRY IQ
			LEFT JOIN
			INQUIRY_RESPONSE IR
			ON IQ.INQUIRY_NUM = IR.INQUIRY_NUM 
			WHERE IR.INQUIRY_RESPONSE_CONTENTS is NULL
		</select>
		<!-- 응답하지 않은 1대1문의 수-->
		<select id="getTotalInquiryNo" resultType="Integer" parameterType="AdminMembersVO">
		    SELECT COUNT (INQUIRY_CONTENTS)
 		    FROM
 		    INQUIRY IQ
 		    LEFT JOIN
 		    INQUIRY_RESPONSE IR
		    ON IQ.INQUIRY_NUM = IR.INQUIRY_NUM 
		    WHERE INQUIRY_RESPONSE_CONTENTS IS NULL
		</select>
		<!-- 응답완료한 1대1문의 수 -->
		<select id="getTotalInquiryYes" resultType="Integer" parameterType="AdminMembersVO">
		    SELECT COUNT (INQUIRY_CONTENTS)
	 		FROM
	 		INQUIRY IQ
	 		LEFT JOIN
	 		INQUIRY_RESPONSE IR
			ON IQ.INQUIRY_NUM = IR.INQUIRY_NUM 
			WHERE INQUIRY_RESPONSE_CONTENTS IS NOT NULL
		</select>
		
<!-- 신고, 블랙 -->
		<!-- 신고요청 리스트 -->
		<select id="getReportList" parameterType="AdminPager" resultType="MembersReportVO">
			SELECT *
			FROM 
			REPORT RP
			LEFT JOIN
			MEMBERS M 
			ON M.ID = RP.REPORT_ID
			LEFT JOIN 
			REPORT_FILES RF 
			ON RP.REPORT_NUM = RF.REPORT_NUM
			WHERE <include refid="reportSearch"/> AND M.BLACK = 1
			LIMIT #{startRow}, #{perPage}
		</select>
		<!-- 블랙당한 회원 리스트 -->
		<select id="getBlackList" parameterType="AdminPager" resultMap="getReportResult">
			SELECT DISTINCT M.*, RP.REPORT_DATE, RP.REPORT_ID FROM
			MEMBERS M
			LEFT JOIN
			REPORT RP
			ON M.ID = RP.REPORT_ID
			WHERE M.BLACK=2 AND RP.REPORT_CONTENTS IS NOT NULL
		</select>
		<!-- 신고 요청 -->
		<insert id="setRepoertRequest" parameterType="MembersReportVO" useGeneratedKeys="true" keyProperty="report_num">
			INSERT INTO REPORT VALUES
			(NULL, #{id}, #{report_id}, #{report_contents}, SYSDATE())
		</insert>
		<insert id="setReportFileAdd" parameterType="ReportFileVO">
			INSERT INTO REPORT_FILES VALUES
			(NULL, #{report_num}, #{report_fileName}, #{report_oriName})
		</insert>
		<!-- 신고 요청 대기 -->
		<update id="setBlackWaiting" parameterType="MembersReportVO">
			UPDATE MEMBERS M 
			INNER JOIN
			REPORT RP
			ON M.ID = RP.REPORT_ID 
			SET M.BLACK = 1 WHERE RP.REPORT_ID=#{report_id}
		</update>
		<!-- 신고 요청 DETAIL -->
		<select id="getReportDetail" parameterType="MembersReportVO" resultMap="getReportResult">
		    SELECT M.*, RP.*, RF.*
			FROM 
			MEMBERS M
			INNER JOIN
			MEMBERS_ROLE MR
			ON M.ID = MR.ID
			INNER JOIN
			ROLE R
			ON MR.ROLENUM = R.ROLENUM
			LEFT JOIN
			REPORT RP
			ON M.ID = RP.ID
			LEFT JOIN 
			REPORT_FILES RF 
			ON RP.REPORT_NUM = RF.REPORT_NUM
			WHERE RP.ID=#{id} AND RP.REPORT_ID=#{report_id} AND RP.REPORT_NUM=#{report_num}
		</select>
		<!-- 신고 요청 거절 -->
		<delete id="setResponseReportNo" parameterType="MembersReportVO">
			DELETE FROM REPORT WHERE REPORT_id=#{report_id}
		</delete>
		<!-- 신고 요청 승인 -->
		<update id="setResponseReportOk" parameterType="MembersReportVO">
			UPDATE MEMBERS M 
			INNER JOIN
			REPORT RP
			ON M.ID = RP.REPORT_ID
			SET M.BLACK =2 WHERE RP.REPORT_ID=#{report_id}
		</update>
		<!-- 블랙 리스트 디테일 -->
		<select id="getBlackDetail" parameterType="MembersReportVO" resultMap="getReportResult2">
			SELECT RP.* FROM
			MEMBERS M
			LEFT JOIN
			REPORT RP
			ON M.ID = RP.REPORT_ID
			WHERE RP.REPORT_ID = #{report_id}
		</select>
		<!-- 블랙 해제 -->
		<update id="setBlackCancel" parameterType="MembersReportVO">
			UPDATE MEMBERS M 
			INNER JOIN
			REPORT RP
			ON M.ID = RP.REPORT_ID 
			SET M.BLACK = NULL WHERE RP.REPORT_ID=#{report_id}
		</update>
		<!-- 신고 요청 승인 -->
		<update id="setBlack" parameterType="MembersVO">
			UPDATE MEMBERS SET BLACK =2 WHERE ID=#{id}
		</update>
		<update id="setBlackC" parameterType="MembersVO">
			UPDATE MEMBERS SET BLACK =NULL WHERE ID=#{id}
		</update>
		<!-- 신고요청 페이징 카운트 -->
		<select id="getReportCount" resultType="Long" parameterType="AdminPager">
			SELECT COUNT(REPORT_NUM) FROM REPORT
		</select>
		<!-- 블랙리스트 페이징 카운트 -->
		<select id="getBlackMembersCount" resultType="Long" parameterType="AdminPager">
			SELECT COUNT(ID) FROM MEMBERS WHERE BLACK=2
		</select>
		<!-- 신고요청 건 수 -->
		<select id="getTotalReport" resultType="Integer" parameterType="MembersReportVO">
			SELECT count(*)
			FROM 
			REPORT RP
			LEFT JOIN
			MEMBERS M 
			ON M.ID = RP.REPORT_ID
			WHERE M.BLACK = 1
		</select>
		<!-- 블랙 회원 수 -->
		<select id="getTotalBlack" parameterType="MembersVO" resultType="Integer">
			SELECT COUNT( DISTINCT  RP.REPORT_ID)  FROM
			MEMBERS M
			LEFT JOIN
			REPORT RP
			ON M.ID = RP.REPORT_ID
			WHERE M.BLACK=2 AND RP.REPORT_CONTENTS IS NOT NULL
		</select>
		<!-- 블랙 입구 컷 -->
		<select id="getMemberBlack" parameterType="MembersVO" resultType="MembersVO">
			SELECT ID, PASSWORD, BLACK 	
			FROM MEMBERS
			WHERE ID = #{id}
		</select>

<!--resultMap-->
 	<resultMap type="MembersVO" id="getAdminMembersListResult">
 			<id column="id" property="id"/>
 			<result column="passWord" property="passWord"/>
 			<result column="realName" property="realName"/>
 			<result column="nickName" property="nickName"/>
 			<result column="email" property="email"/>
 			<result column="birth" property="birth"/>
 			<result column="gender" property="gender"/>
 			<result column="phone" property="phone"/>
 			<result column="joinDate" property="joinDate"/>
 			<result column="black" property="black"/>
 			
 			<association property="roleVO" javaType="RoleVO">
				<id column="roleNum" property="roleNum"/>
				<result column="roleName" property="roleName"/>
			</association>
 	</resultMap>

 	<resultMap type="AdminMembersVO" id="getInquiryDetailResult">
 			<id column="inquiry_num" property="inquiry_num"/>
 			<result column="id" property="id"/>
 			<result column="inquiry_contents" property="inquiry_contents"/>
 			<result column="inquiry_text" property="inquiry_text"/>
 			<result column="inquiry_date" property="inquiry_date"/>
 			<result column="inquiry_response" property="inquiry_response"/>
 			<association property="membersVO" javaType="MembersVO">
 				<id column="id" property="id"/>
	 			<result column="passWord" property="passWord"/>
	 			<result column="realName" property="realName"/>
	 			<result column="nickName" property="nickName"/>
	 			<result column="email" property="email"/>
	 			<result column="birth" property="birth"/>
	 			<result column="gender" property="gender"/>
	 			<result column="phone" property="phone"/>
	 			<result column="joinDate" property="joinDate"/>
	 			<result column="black" property="black"/>
	 			<association property="roleVO" javaType="RoleVO">
					<id column="roleNum" property="roleNum"/>
					<result column="roleName" property="roleName"/>
				</association>
 			</association>
 			<association property="inquiryResponseVO" javaType="inquiryResponseVO">
 				<id column="inquiry_response_num" property="inquiry_response_num"/>
 				<result column="inquiry_num" property="inquiry_num"/>
 				<result column="inquiry_response_contents" property="inquiry_response_contents"/>
 				<result column="inquiry_response_date" property="inquiry_response_date"/>
 			</association>
 			<collection property="membersReportVOs" javaType="List" ofType="MembersReportVO">
 				<id column="report_num" property="report_num"/>
 				<result column="id" property="id"/>
 				<result column="report_id" property="report_id"/>
 				<result column="report_contents" property="report_contents"/>
 				<result column="report_date" property="report_date"/>
 			</collection>
 	</resultMap>
 	
 	<resultMap type="MembersReportVO" id="getReportResult">
 		<id column="report_num" property="report_num"/>
 		<result column="id" property="id"/>
 		<result column="report_id" property="report_id"/>
 		<result column="report_contents" property="report_contents"/>
 		<result column="report_date" property="report_date"/>
		<association property="membersVO" javaType="MembersVO">
	 		<id column="id" property="id"/>
		 	<result column="passWord" property="passWord"/>
		 	<result column="realName" property="realName"/>
		 	<result column="nickName" property="nickName"/>
		 	<result column="email" property="email"/>
		 	<result column="birth" property="birth"/>
		 	<result column="gender" property="gender"/>
		 	<result column="phone" property="phone"/>
		 	<result column="joinDate" property="joinDate"/>
		 	<result column="black" property="black"/>
		 	<association property="roleVO" javaType="RoleVO">
				<id column="roleNum" property="roleNum"/>
				<result column="roleName" property="roleName"/>
			</association>
	 	</association> 	
	 	<collection property="reportFileVOs" javaType="List" ofType="ReportFileVO">
	 		<id column="report_file_num" property="report_file_num"/>
	 		<result column="report_num" property="report_num"/>
	 		<result column="report_fileName" property="report_fileName"/>
	 		<result column="report_oriName" property="report_oriName"/>
	 	</collection>
 	</resultMap>
 	
 	<resultMap type="MembersReportVO" id="getReportResult2">
 		<id column="report_num" property="report_num"/>
 		<result column="id" property="id"/>
 		<result column="report_id" property="report_id"/>
 		<result column="report_contents" property="report_contents"/>
 		<result column="report_date" property="report_date"/>
	 	 	<collection property="membersVOs" javaType="List" ofType="MembersVO">
	 		<id column="id" property="id"/>
		 	<result column="passWord" property="passWord"/>
		 	<result column="realName" property="realName"/>
		 	<result column="nickName" property="nickName"/>
		 	<result column="email" property="email"/>
		 	<result column="birth" property="birth"/>
		 	<result column="gender" property="gender"/>
		 	<result column="phone" property="phone"/>
		 	<result column="joinDate" property="joinDate"/>
		 	<result column="black" property="black"/>
		 	<association property="roleVO" javaType="RoleVO">
				<id column="roleNum" property="roleNum"/>
				<result column="roleName" property="roleName"/>
			</association>
	 	</collection>
 	</resultMap>
 	
 	<resultMap type="CompanyNoticeVO" id="noticeMemberReuslt">
 		<id column="notice_num" property="notice_num"></id>
 		<result column="notice_title" property="notice_title"/>
 		<result column="notice_contents" property="notice_contents"/>
 		<result column="notice_hit" property="notice_hit"/>
 		<result column="notice_date" property="notice_date"/>
 		<result column="id" property="id"/>
 		<association property="membersVO" javaType="MembersVO">
 				<id column="id" property="id"/>
	 			<result column="passWord" property="passWord"/>
	 			<result column="realName" property="realName"/>
	 			<result column="nickName" property="nickName"/>
	 			<result column="email" property="email"/>
	 			<result column="birth" property="birth"/>
	 			<result column="gender" property="gender"/>
	 			<result column="phone" property="phone"/>
	 			<result column="joinDate" property="joinDate"/>
	 			<result column="black" property="black"/>
	 			
	 			<association property="roleVO" javaType="RoleVO">
					<id column="roleNum" property="roleNum"/>
					<result column="roleName" property="roleName"/>
				</association>
 			</association>
 	</resultMap>
 	
 	<resultMap type="ProductVO" id="productResult">
 		<id column="product_num" property="product_num"/>
 		<result column="auction_num" property="auction_num"/>
 		<result column="grade_num" property="grade_num"/>
 		<result column="name" property="name"/>
 		<result column="product_address" property="product_address"/>
 		<result column="quantity" property="quantity"/>
 		<result column="weight" property="weight"/>
 		<result column="sales" property="sales"/>
 		<result column="id" property="id"/>
 		<result column="stateNum" property="stateNum"/>
 		<association property="deliveryStateVO" javaType="DeliveryStateVO">
 			<id column="stateNum" property="stateNum"/>
	 		<result column="stateName" property="stateName"/>
 		</association>
 		<association property="productGradeVO" javaType="ProductGradeVO">
 			<id column="grade_num" property="grade_num"/>
	 		<result column="grade_name" property="grade_name"/>
 		</association>
 		<collection property="productFileVOs" javaType="List" ofType="ProductFileVO">
 			<id column="fileNum" property="fileNum"/>
 			<result column="product_num" property="product_num"/>
 			<result column="fileName" property="fileName"/>
 			<result column="oriName" property="oriName"/>
 		</collection>
 	</resultMap>
 	
 	<resultMap type="ProductVO" id="productSaleResult">
 		<id column="product_num" property="product_num"/>
 		<result column="auction_num" property="auction_num"/>
 		<result column="grade_num" property="grade_num"/>
 		<result column="name" property="name"/>
 		<result column="product_address" property="product_address"/>
 		<result column="quantity" property="quantity"/>
 		<result column="weight" property="weight"/>
 		<result column="sales" property="sales"/>
 		<result column="id" property="id"/>
 		<result column="stateNum" property="stateNum"/>
 		<association property="deliveryStateVO" javaType="DeliveryStateVO">
 			<id column="stateNum" property="stateNum"/>
	 		<result column="stateName" property="stateName"/>
 		</association>
 		<association property="productGradeVO" javaType="ProductGradeVO">
 			<id column="grade_num" property="grade_num"/>
	 		<result column="grade_name" property="grade_name"/>
 		</association>
 		<association property="auctionVO" javaType="AuctionVO">
 			<id column="auction_num" property="auction_num"/>
	 		<result column="title" property="title"/>
	 		<result column="init_price" property="init_price"/>
	 		<result column="head_count" property="head_count"/>
	 		<result column="sign_date" property="sign_date"/>
	 		<result column="bidding" property="bidding"/>
	 		<result column="award" property="award"/>
	 		<result column="id" property="id"/>
	 		<result column="product_num" property="product_num"/>
 		</association>
 		<collection property="productFileVOs" javaType="List" ofType="ProductFileVO">
 			<id column="fileNum" property="fileNum"/>
 			<result column="product_num" property="product_num"/>
 			<result column="fileName" property="fileName"/>
 			<result column="oriName" property="oriName"/>
 		</collection>
 	</resultMap>
 	
 	<resultMap type="ProductVO" id="deliveryResult">
 		<id column="product_num" property="product_num"/>
 		<result column="auction_num" property="auction_num"/>
 		<result column="grade_num" property="grade_num"/>
 		<result column="name" property="name"/>
 		<result column="product_address" property="product_address"/>
 		<result column="quantity" property="quantity"/>
 		<result column="weight" property="weight"/>
 		<result column="sales" property="sales"/>
 		<result column="id" property="id"/>
 		<result column="stateNum" property="stateNum"/>
 		<association property="membersVO" javaType="MembersVO">
 			 	<id column="id" property="id"/>
	 			<result column="passWord" property="passWord"/>
	 			<result column="realName" property="realName"/>
	 			<result column="nickName" property="nickName"/>
	 			<result column="email" property="email"/>
	 			<result column="birth" property="birth"/>
	 			<result column="gender" property="gender"/>
	 			<result column="phone" property="phone"/>
	 			<result column="joinDate" property="joinDate"/>
	 			<result column="black" property="black"/>
	 			<result column="address" property="address"/>
 		</association>
 		<association property="deliveryStateVO" javaType="DeliveryStateVO">
 			<id column="stateNum" property="stateNum"/>
	 		<result column="stateName" property="stateName"/>
 		</association>
 	</resultMap>
 	
 	
 </mapper>