<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
          PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
          
 <mapper namespace="com.im.home.admin.AdminMembersMapper">
 
	 	<sql id="search">
			WHERE
			<choose>
				<otherwise>NICKNAME</otherwise>
			</choose>
			LIKE concat ('%', #{search}, '%')
		</sql>
		
		<!-- 총 회원 수 -->
		<select id="getTotalMembers" parameterType="MembersVO" resultType="Integer">
			SELECT COUNT(id) FROM MEMBERS
		</select>
		
	 	<!-- 회원 조회 pager에 필요한 count -->
		<select id="getAdminMembersCount" resultType="Long" parameterType="AdminPager">
			 SELECT COUNT(*) FROM MEMBERS
		</select>
	 	<!-- memberList -->
	 	<select id="getAdminMembersList" parameterType="AdminPager" resultMap="getAdminMembersListResult">
			 SELECT M.*,R.* FROM
	         MEMBERS M
	         INNER JOIN
	         MEMBERS_ROLE MR
	         ON M.ID = MR.ID
	         INNER JOIN
	         ROLE R
	         ON MR.ROLENUM = R.ROLENUM
			 <include refid="search"/>
			 LIMIT #{startRow}, #{perPage}
	 	</select>
 		<!-- 관라자 메인 페이지에 보이는 최신 1대1문의 5개리스트 --> 
 		<select id="getAdminPageInquiryList" parameterType="AdminMembersVO" resultMap="getInquiryDetailResult">
 			 SELECT M.*,R.*, IQ.* FROM
	         MEMBERS M
	         INNER JOIN
	         MEMBERS_ROLE MR
	         ON M.ID = MR.ID
	         INNER JOIN
	         ROLE R
	         ON MR.ROLENUM = R.ROLENUM
	         INNER JOIN
	         INQUIRY IQ
	         ON M.ID = IQ.ID
	         LEFT JOIN
	         INQUIRY_RESPONSE IR
	         ON IQ.INQUIRY_NUM = IR.INQUIRY_NUM 
		  	 WHERE INQUIRY_RESPONSE_CONTENTS IS NULL
	         ORDER BY INQUIRY_NUM DESC
 			 LIMIT 0, 5;
 		</select>
 		 <!-- 1대1문의 -->
		 <insert id="setInquiryRequest" parameterType="AdminMembersVO">
		 	INSERT INTO INQUIRY VALUES
		 	(NULL, #{id}, #{inquiry_contents}, SYSDATE(), 1, #{inquiry_text})
		 </insert>
		<!-- 1대1문의 응답  -->
		<insert id="setInquiryResponse" useGeneratedKeys="true" keyProperty="inquiry_num" parameterType="InquiryResponseVO">
			INSERT INTO INQUIRY_RESPONSE VALUES
			(NULL, #{inquiry_num}, #{inquiry_response_contents}, SYSDATE())
		</insert>
	 	<!-- 1대1문의 리스트 -->
 		<select id="getInquiryList"  parameterType="AdminPager" resultMap="getInquiryDetailResult">
 			SELECT M.*,R.*, IQ.INQUIRY_NUM, IQ.ID, IQ.INQUIRY_CONTENTS, IQ.INQUIRY_DATE, IQ.INQUIRY_RESPONSE, IQ.INQUIRY_TEXT , IR.INQUIRY_RESPONSE_NUM, IR.INQUIRY_RESPONSE_CONTENTS, IR.INQUIRY_RESPONSE_DATE  FROM
	         MEMBERS M
	         INNER JOIN
	         MEMBERS_ROLE MR
	         ON M.ID = MR.ID
	         INNER JOIN
	         ROLE R
	         ON MR.ROLENUM = R.ROLENUM
	         INNER JOIN
	         INQUIRY IQ
	         ON M.ID = IQ.ID
	         LEFT  JOIN
	         INQUIRY_RESPONSE IR
	         ON IQ.INQUIRY_NUM = IR.INQUIRY_NUM 
	         ORDER BY INQUIRY_NUM DESC
			<!-- LIMIT #{startNum}, #{perPage} -->
 		</select>
 		<!-- 1대1문의 detail페이지 -->
 		<select id="getInquiryDetail" parameterType="AdminMembersVO" resultMap="getInquiryDetailResult">
	 		 SELECT M.ID, IQ.*, IR.*, M.NICNNAME
			FROM MEMBERS M
			INNER JOIN
			INQUIRY IQ
			ON M.ID = IQ.ID
			LEFT JOIN
			INQUIRY_RESPONSE IR 
			ON IQ.INQUIRY_NUM = IR.INQUIRY_NUM 
			WHERE M.ID = #{id} AND IQ.INQUIRY_NUM = #{inquiry_num}
 		</select>
		<!-- 1대1 리스트 pager에 필요한 count -->
		<select id="getInquiryRequestCount" resultType="Long" parameterType="AdminPager">
			SELECT COUNT(INQUIRY_NUM) FROM INQUIRY
		</select>
		<!-- 총 1대1문의 -->
		<select id="getTotalInquiry" resultType="Integer" parameterType="AdminMembersVO">
			SELECT COUNT(INQUIRY_NUM) FROM INQUIRY
		</select>
		<!-- 응답하지 않은 1대1문의 수-->
		<select id="getTotalInquiryNo" resultType="Integer" parameterType="AdminMembersVO">
		  SELECT COUNT (INQUIRY_CONTENTS)
 		  FROM
 		  INQUIRY IQ
 		  LEFT JOIN
 		  INQUIRY_RESPONSE IR
		  ON IQ.INQUIRY_NUM = IR.INQUIRY_NUM 
		  WHERE INQUIRY_RESPONSE_CONTENTS IS NULL
		</select>
		<!-- 응답완료한 1대1문의 수 -->
		<select id="getTotalInquiryYes" resultType="Integer" parameterType="AdminMembersVO">
		    SELECT COUNT (INQUIRY_CONTENTS)
 		  FROM
 		  INQUIRY IQ
 		  LEFT JOIN
 		  INQUIRY_RESPONSE IR
		  ON IQ.INQUIRY_NUM = IR.INQUIRY_NUM 
		  WHERE INQUIRY_RESPONSE_CONTENTS IS NOT NULL
		</select>
		<!-- 응답하지 않은 1대1문의 List -->
		<select id="getInquiryNoResponseList" parameterType="AdminPager" resultMap="getInquiryDetailResult">
			 SELECT M.*,R.*, IQ.* FROM
	         MEMBERS M
	         INNER JOIN
	         MEMBERS_ROLE MR
	         ON M.ID = MR.ID
	         INNER JOIN
	         ROLE R
	         ON MR.ROLENUM = R.ROLENUM
	         INNER JOIN
	         INQUIRY IQ
	         ON M.ID = IQ.ID
	         LEFT JOIN
	 		 INQUIRY_RESPONSE IR
			 ON IQ.INQUIRY_NUM = IR.INQUIRY_NUM 
	         WHERE INQUIRY_RESPONSE_CONTENTS IS NULL
	         ORDER BY INQUIRY_NUM DESC
		</select>
		<!-- 신고 요청 -->
		<insert id="setRepoertRequest" parameterType="MembersReportVO">
			INSERT INTO REPORT VALUES
			(NULL, #{id}, #{report_id}, #{report_contents}, SYSDATE())
		</insert>
		<!-- 신고요청 건 수 -->
		<select id="getTotalReport" resultType="Integer" parameterType="MembersReportVO">
		SELECT COUNT(ID) FROM REPORT
		</select>
		<!-- 신고요청 리스트 -->
		<select id="getReportList" parameterType="AdminPager" resultType="MembersReportVO">
		SELECT * FROM REPORT
		</select>
	<!-- memberList -->
 	<resultMap type="MembersVO" id="getAdminMembersListResult">
 			<id column="id" property="id"/>
 			<result column="passWord" property="passWord"/>
 			<result column="realName" property="realName"/>
 			<result column="nickName" property="nickName"/>
 			<result column="email" property="email"/>
 			<result column="birth" property="birth"/>
 			<result column="gender" property="gender"/>
 			<result column="phone" property="phone"/>
 			<result column="joinDate" property="joinDate"/>
 			
 			<association property="roleVO" javaType="RoleVO">
				<id column="roleNum" property="roleNum"/>
				<result column="roleName" property="roleName"/>
			</association>
 	</resultMap>
 	<!-- 1대1문의 detail페이지,
 		 응답하지 않은 1대1문의 List,
 		 관라자 메인 페이지에 보이는 최신 1대1문의 5개리스트  -->
 	<resultMap type="AdminMembersVO" id="getInquiryDetailResult">
 			<id column="inquiry_num" property="inquiry_num"/>
 			<result column="id" property="id"/>
 			<result column="inquiry_contents" property="inquiry_contents"/>
 			<result column="inquiry_text" property="inquiry_text"/>
 			<result column="inquiry_date" property="inquiry_date"/>
 			<result column="inquiry_response" property="inquiry_response"/>
 			
 			<association property="membersVO" javaType="MembersVO">
 				<id column="id" property="id"/>
	 			<result column="passWord" property="passWord"/>
	 			<result column="realName" property="realName"/>
	 			<result column="nickName" property="nickName"/>
	 			<result column="email" property="email"/>
	 			<result column="birth" property="birth"/>
	 			<result column="gender" property="gender"/>
	 			<result column="phone" property="phone"/>
	 			<result column="joinDate" property="joinDate"/>
	 			
	 			<association property="roleVO" javaType="RoleVO">
					<id column="roleNum" property="roleNum"/>
					<result column="roleName" property="roleName"/>
				</association>
 			</association>
 			
 			<association property="inquiryResponseVO" javaType="inquiryResponseVO">
 				<id column="inquiry_response_num" property="inquiry_response_num"/>
 				<result column="inquiry_num" property="inquiry_num"/>
 				<result column="inquiry_response_contents" property="inquiry_response_contents"/>
 				<result column="inquiry_response_date" property="inquiry_response_date"/>
 			</association>
 			
 			<collection property="membersReportVOs" javaType="List" ofType="MembersReportVO">
 				<id column="report_num" property="report_num"/>
 				<result column="id" property="id"/>
 				<result column="report_id" property="report_id"/>
 				<result column="report_contents" property="report_contents"/>
 				<result column="report_date" property="report_date"/>
 			</collection>
 	</resultMap>
 	
 </mapper>
