<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<mapper namespace="com.im.home.auction.AuctionMapper">
	<!-- 경매 상품 불러오기 -->
		<select id="getAuctionDetail" parameterType="AuctionVO" resultMap="auctionDetail">
			SELECT A.*, P.NAME,P.PRODUCT_ADDRESS,P.QUANTITY,P.WEIGHT,P.SALES, PF.FILENAME , PG.GRADE_NAME
			FROM AUCTION A 
			INNER JOIN PRODUCT P 
			ON A.PRODUCT_NUM = P.PRODUCT_NUM 
			INNER JOIN PRODUCT_FILE PF 
			ON P.PRODUCT_NUM = PF.PRODUCT_NUM 
			INNER JOIN PRODUCT_GRADE PG 
			ON PG.GRADE_NUM = P.GRADE_NUM 
			WHERE A.AUCTION_NUM = #{auction_num};
		</select>
		<resultMap type="ProductVO" id="auctionDetail">
			<id column="PRODUCT_NUM" property="product_num"/>
			<result column="NAME" property="name"/>
			<result column="PRODUCT_ADDRESS" property="product_address"/>
			<result column="QUANTITY" property="quantity"/>
			<result column="WEIGHT" property="weight"/>
			<result column="SALES" property="sales"/>
			
			<association property="auctionVO" javaType="AuctionVO">
				<id column="AUCTION_NUM" property="auction_num"/>
				<result column="TITLE" property="title"/>
				<result column="INIT_PRICE" property="init_price"/>
				<result column="HEAD_COUNT" property="head_count"/>
				<result column="SIGN_DATE" property="sign_date"/>
				<result column="BIDDING" property="bidding"/>
				<result column="AWARD" property="award"/>
				<result column="ID" property="id"/>
			</association>
			
			<association property="productGradeVO" javaType="ProductGradeVO">
				<id column="GRADE_NUM" property="grade_num"/>
				<result column="GRADE_NAME" property="grade_name"/>
			</association>
			
			<collection property="productFileVOs" javaType="List" ofType="ProductFileVO">
				<id column="FILENUM" property="fileNum"/>
				<result column="FILENAME" property="fileName"/>
			</collection>
		</resultMap>
	
	<!-- 진행중인 방송이 있는지 확인 -->
		<select id="getIngBroadcasting" resultType="AuctionVO">
			SELECT AUCTION_NUM FROM AUCTION WHERE ING = 1 
		</select>
		
	<!-- 경매 상태 업데이트 -->
		<update id="setUpdateIng" parameterType="AuctionVO">
			UPDATE AUCTION SET ING = 0 WHERE AUCTION_NUM = #{auction_num}
		</update>
		
	<!-- // Product 테이블 id update
		 // Product 테이블 sales, delivery_state 업데이트
		
		// Auction 테이블 award 업데이트
		
		
		// Members 테이블 포인트 - 업데이트 -->
		
		<update id="setUpdateWinner" parameterType="ProductVO">
			UPDATE PRODUCT SET ID = #{id}, STATENUM = 1, SALES = 2 WHERE PRODUCT_NUM = #{product_num}
		</update>
		
		<update id="setUpdateAward" parameterType="AuctionVO">
			UPDATE AUCTION SET AWARD = #{award} WHERE AUCTION_NUM = #{auction_num}
		</update>
		
		<update id="setUpdatePointMinus" parameterType="AuctionVO">
			UPDATE MEMBERS SET POINT = POINT - #{award} WHERE ID = #{id}
		</update>
		
		
		<!-- 내 낙찰 목록 -->
		<select id="getMyProduct" parameterType="ProductPager" resultMap="getListofMyProduct">
			SELECT P.*,A.*
			FROM PRODUCT P
			INNER JOIN AUCTION A
			ON P.PRODUCT_NUM = A.PRODUCT_NUM
			<!-- WHERE P.ID = #{id} AND P.SALES = 2 -->
			ORDER BY P.PRODUCT_NUM DESC
			LIMIT #{startRow},#{perPage}			
		</select>
		
		<resultMap type="ProductVO" id="getListofMyProduct">
			<id column="PRODUCT_NUM" property="product_num"/>
			<result column="NAME" property="name"/>
			<result column="PRODUCT_ADDRESS" property="product_address"/>
			<result column="QUANTITY" property="quantity"/>
			<result column="WEIGHT" property="weight"/>
			<result column="SALES" property="sales"/>
			
			<association property="auctionVO" javaType="AuctionVO">
				<id column="AUCTION_NUM" property="auction_num"/>
				<result column="TITLE" property="title"/>
				<result column="INIT_PRICE" property="init_price"/>
				<result column="HEAD_COUNT" property="head_count"/>
				<result column="SIGN_DATE" property="sign_date"/>
				<result column="BIDDING" property="bidding"/>
				<result column="AWARD" property="award"/>
				<result column="ID" property="id"/>
			</association>
			
		</resultMap>
		
		<select id="getCountMyProduct" parameterType="ProductPager" resultType="Long">
			SELECT COUNT(P.PRODUCT_NUM)
			FROM PRODUCT P
			INNER JOIN AUCTION A
			ON P.PRODUCT_NUM = A.PRODUCT_NUM
			<!-- WHERE P.ID = #{id} AND P.SALES = 2 -->
			ORDER BY P.PRODUCT_NUM DESC
		</select>
		
		
</mapper>