<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
          PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
          
<mapper namespace="com.im.home.map.MapMapper">
	
	<select id="setStartPoint" parameterType="StartPointVO" resultType="StartPointVO">
		SELECT * FROM STARTPOINT WHERE S_NUM = 3
	</select>
	<select id="setEndPoint" parameterType="EndPointVO" resultType="EndPointVO">
		SELECT * FROM ENDPOINT WHERE E_NUM = 3
	</select>
	
	<select id="setInfo" parameterType="DeliveryInfoVO" resultType="DeliveryInfoVO">
		SELECT A.CATEGORY, A.TITLE, A.CONTENTS ,A.AWARD, P.AMOUNT  FROM DELIVERY D INNER JOIN PAY P
		ON (D.AUCTION_NUM = P.AUCTION_NUM) INNER JOIN AUCTION A
		ON (P.AUCTION_NUM = A.AUCTION_NUM) WHERE A.AUCTION_NUM=1;
	</select>
</mapper>