<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
          PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
          
<mapper namespace="com.im.home.map.MapMapper">
	
	<select id="setStartPoint" parameterType="StartPointVO" resultType="StartPointVO">
		SELECT * FROM STARTPOINT WHERE S_NUM = 3
	</select>
	<select id="setEndPoint" parameterType="EndPointVO" resultType="EndPointVO">
		SELECT * FROM ENDPOINT WHERE E_NUM = 3
	</select>
	
</mapper>