<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
          PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
          
	<mapper namespace="com.im.home.wholesale.WholeSaleMapper">

		<insert id="setAdd" parameterType="WholeSaleVO">
		INSERT INTO SALE(saleNum, rn, saleDate, whsalCd, whsalName, cmpCd, cmpName, large, largeName, large, largeName,
		small, smallName, totQty, totAmt, minAmt, maxAmt, avgAmt)
		VALUES (null,#{rn}, #{saleDate}, #{whsalCd}, #{whsalName}, #{cmpCd}, #{cmpName}, #{large}, #{largeName}, #{large}, #{largeName},
		#{small}, #{smallName}, #{totQty}, #{totAmt}, #{minAmt}, #{maxAmt}, #{avgAmt})
		</insert> 
	
 		<select id="getList" resultType="WholeSaleVO" parameterType="Pager">
		 SELECT * FROM SALE
		 WHERE whsalCd=#{whsalCd} AND saleDate BETWEEN #{saleDateStart} AND #{saleDateEnd} AND `large` LIKE concat ('%',#{largeCd},'%')
		 LIMIT #{startRow}, #{perPage}
		 </select>
		 
		 <delete id="deleteList" parameterType="String">
		  DELETE FROM SALE WHERE saleDate=#{saleDate}
		 </delete>
		 
		 <select id="getListCount" resultType="Long" parameterType="Pager">
		 SELECT COUNT(*) FROM SALE
		 WHERE whsalCd=#{whsalCd} AND saleDate BETWEEN #{saleDateStart} AND #{saleDateEnd} AND `large` LIKE concat ('%',#{largeCd},'%')
		 </select>
		 
		 <select id="getMidMain" resultType="WholeSaleVO" parameterType="String">
		 SELECT midName, COUNT(midName) dataCnt FROM SALE WHERE saleDate=#{saleDate}
		 GROUP by midName ORDER by dataCnt desc LIMIT 3
		</select>
		
		<select id="getWhsalMain" resultType="WholeSaleVO" parameterType="String">
		 SELECT whsalName, COUNT(whsalName) totCnt FROM SALE WHERE saleDate=#{saleDate}
		 GROUP by whsalName ORDER by totCnt desc LIMIT 6
		</select>
		 
			<select id="getTotQty" resultType="WholeSaleVO" parameterType="String">
		 SELECT ROUND(SUM(totQty)) totQty FROM SALE WHERE saleDate=#{saleDate}
			</select>

 			<select id="getTotAmt" resultType="WholeSaleVO" parameterType="String">
		 SELECT ROUND(SUM(totAmt)) totAmt FROM SALE WHERE saleDate=#{saleDate}
			</select>
			

	</mapper>